<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_attended.person.merg %>
</p>

<p>
  <strong>School:</strong>
  <%= @school_attended.school_name %>
</p>

<p>
  <strong>Beginning year:</strong>
  <%= @school_attended.beginning_year %>
</p>

<p>
  <strong>Ending year:</strong>
  <%= @school.ending_year %>
</p>

<%= link_to 'Edit', edit_school_path(@school_attended) %> |
<%= link_to 'Back', schools_path %>
